faiss-cpu==1.10.0
json5==0.9.6
jsonpatch==1.33
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
numpy==1.26.4
numpydoc==1.7.0
regex==2024.9.11
safetensors==0.5.3
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.13.1
sentence-transformers==3.4.1
streamlit==1.44.1
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
transformers==4.50.0.dev0
